body {
    background: white; 
    font-family: 'Yanone Kaffeesatz', sans-serif;  
}

h1 {
    font-size: 40px;
    font-style: bold;
    color: whitesmoke;
}

.cabecera {
    text-align: center;
    background: linear-gradient(to right bottom, darkblue, lightblue);
    box-shadow: 0px 5px 7px slategray;
    position: fixed;
    top: 0px;
    left: -1px;
    width: 100%;
    z-index: 10;
}

.pie {
    color: white;
    text-align: center;
    background: linear-gradient(to right bottom, darkblue, lightblue);
    box-shadow: 0px 5px 7px slategray;
    position: fixed;
    bottom: 0px;
    left: -1px;
    width: 100%;
    z-index: 10;
}

.contenedor {
    overflow: auto;
    margin-top: 110px;
    margin-bottom: 50px;
}

#principal {
    margin-left: 10px;
    color: red;
    padding: 10px;
    background-color: lightsteelblue;
    box-shadow: 0px 5px 7px slategray;
}

#barralateral {
    top: 100px;
    float: none;
    width: auto;
    background:linear-gradient(to right bottom, darkblue, lightblue);
    box-shadow: 0px 5px 7px slategray;
}

#menu {
    margin: 0;
    padding: 0;
}

.imagen {
    content:url('er.jpg');
    size: 20%;
}

.menuitems {
    background:linear-gradient(to right bottom, darkblue, lightblue);
    border: 1px solid lightsteelblue;
    color: white;
    list-style-type: none;
    margin: 4px;
    padding: 3px;
}

a {
    color: white;
}

/*body {
    background: yellow;
}*/

@media screen and (min-width: 480px) {
    .contenedor {
        margin-top: 110px;
        margin-bottom: 50px;
    }
    
    #barralateral {
        width: 200px;
        float: left;
    }

    #principal {
        margin-left: 210px;
        color: blue;
        padding: 20px;
        background-color: lightsteelblue;
        box-shadow: 0px 5px 7px slategray;
    }

.imagen {
    content:url('er.jpg');
    size: 50%;
}

    body {
        background: white;
    }
}